   .block_imege_second{
       max-width: 719px;
       height: 402px;
       background-image: url(../img/4.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       margin: 75px 124px;
       margin-right: 309px;
    }