@forward"header/first_block";
@forward"section1/_section_first";
@forward"section_imege/block_imege";
@forward"text/_block_text";
@forward"section_imege/block_imege_second";
@forward"section2/_section_second";
@forward"footer/footer";
@forward"heding/heading";
@forward"keyframes/animition";


