.main_first{
  display: grid;
  grid-template-columns: 565px auto;
  margin-top: 77px;
  .section_first{
    background-image: url(/img/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 566px;
    height: 565px;
    padding: 10px;
    background-position: center;
  }
}
.section_button{
 position: absolute;
 right: 29px;
 border: none;
 outline: none;
 background: none;
 :hover{
   cursor: pointer;
 }
}
  .button_menu{
 position: absolute;
 right: 29px;
 border: none;
 outline: none;
 background: none;

 :hover{
   cursor: pointer;
 }
 .title_for_bags{
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
 }
  }
  
  



.popover {
  position: fixed;
  inset: 0;
  border: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 15;
  width: 100%;
  height: 100%;
}

.popover-window {
  width: 600px;
  max-width: calc(100% - 30px);
  background: #0f0505;
  border-radius: 12px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popover-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.YouTube{
  width: 100%;
}
