*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    width:100%; 
    background-color: azure;
}

h5{
    color: azure;
}

// a{
//     color: white;
// }

h2{
    max-width: 60%;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    font-weight: 600;
}


