@use"../../base/root" as root;

.first_block{
margin: 0 auto;
width: 100%;
padding: 30px 30px 45px;
height: 250px;
background-image: url( /img/1.png);
background-repeat: no-repeat;
background-size: cover;

.first_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second_block{
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-right: 20px;
}
}
.list_third{
    display: flex;
    align-items: center;
    color: azure;
    justify-content: center;
    gap: 15px;
    margin-right: 50px;
    padding: 18px;
    .items_third{
        font-size: 12px;
        font-weight: 200;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        :hover{
            color: root.$bg_color;
        }
    }
    .header_a{
     color: white;
    }
}